{% load static %}

<!DOCTYPE html>
<html lang="hu">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bonita Bisztró</title>
        <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    </head>

    <body>

         <nav class="navbar">
        <div class="nav-left">
            <div class="logo-text">Bonita Bisztró Dashboard</div>
        </div>

        <div class="menu-capsule">
            <a href="{% url 'dolgozok' %}" class="{% if request.resolver_match.url_name == 'dolgozok' %}active{% endif %}">Dolgozók</a>
            <a href="{% url 'jelenleti' %}" class="{% if request.resolver_match.url_name == 'jelenleti' %}active{% endif %}">Jelenléti</a>
            <a href="{% url 'bevetelek' %}" class="{% if request.resolver_match.url_name == 'bevetelek' %}active{% endif %}">Bérek</a>
            <a href="{% url 'dashboard' %}" class="{% if request.resolver_match.url_name == 'dashboard' %}active{% endif %}">Kimutatás</a>
        </div>

        <div class="nav-right">

        </div>
    </nav>

    <div class="main-content">
        {% block content %}
        {% endblock %}
    </div>
    

    <!-- <div class="chat-container">
        <div class="message-bubble">
            Hi there! I'm a virtual assistant.<br>
            How can I help you today?
        </div>

    </div> -->



    </body>

</html>