{% extends "bonitadashboardapp/dashboard.html" %}
{% load static %}
{% block content %}


<html lang="hu">
<head>
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'jelenleti.css' %}">

    <title>Jelenléti</title>
</head>

<body>

    <div class="fejlec">
            <a class="honap-nav" href="?ev={{ elozo_ev }}&honap={{ elozo_honap }}" aria-label="Előző hónap">&lsaquo;</a>
            <span class="fejlec-cim">Jelenléti adatok - {{ ev }} {{ honap }}</span>
            <a class="honap-nav" href="?ev={{ kovetkezo_ev }}&honap={{ kovetkezo_honap }}"
                aria-label="Következő hónap">&rsaquo;</a>
    </div>


    <div class="table-container">
  <table>
    <thead>
      <tr>
        <th>Név</th> <!-- első oszlop a NÉV -->
        {% for nap in napok %}
            <th>{{ nap }}</th> <!-- Napok száma -->
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="sticky-col">Kovács János</td>
        <td>A</td><td>B</td><td></td><td>A</td><td></td><td></td><td>A</td><td>A</td><td>B</td><td></td>
        <td>A</td><td>B</td><td></td><td>A</td><td></td><td></td><td>A</td><td>A</td><td>B</td><td></td>
      </tr>
      <tr>
        <td class="sticky-col">Nagy Anna</td>
        <td>B</td><td>B</td><td>A</td><td></td><td>A</td><td></td><td>B</td><td></td><td>A</td><td>B</td>
        <td>B</td><td>B</td><td>A</td><td></td><td>A</td><td></td><td>B</td><td></td><td>A</td><td>B</td>
      </tr>
    </tbody>
  </table>
</div>
    
</body> 
</html>

{% endblock %}  