@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=general-sans@200,300,400,500,600,700&display=swap');


body {
    font-family: 'General-sans', sans-serif;
    margin: 0;
    padding: 10px;
    min-height: 100vh;
    /* Radiális színátmenet: a közepétől (circle at center) indul kifelé */
    background: radial-gradient(circle at center,
            #ffffff 0%,
            /* Középen tiszta fehér */
            #f0f4f8 40%,
            /* Nagyon gyorsan átvált a jeges kékre */
            #bdcdde 100%
            /* A széleken pedig a mélyebb kékesszürke */
        );
    /* Fixáljuk, hogy görgetésnél se csússzon el a fény */
    background-attachment: fixed;
    overflow: hidden;
}

.logo-text {
    font-size: 16px;
    font-weight: 300;
}

/* ===================== Fenti menü ===================== */

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;

}

/* Középső kapszula menü */
.menu-capsule {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #2d2d2d;
    /* Sötétszürke háttér */
    padding: 4px;
    border-radius: 50px;
    /* Teljesen kerekített szélek */
    display: flex;
    align-items: center;
    /* box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); */
}

.menu-capsule a {
    color: #a0a0a0;
    text-decoration: none;
    font-size: 13px;
    padding: 6px 20px;
    border-radius: 50px;
    transition: all 0.3s ease;
}

/* Az aktív sárga gomb */
.menu-capsule a.active {
    background-color: #e2ff31;
    /* Neon sárga/zöld */
    color: #000;
    font-weight: bold;
}

.menu-capsule a:hover:not(.active) {
    color: #ffffff;
}

.nav-left {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
}